In [65]:
import numpy as np
import pandas as pd

In [66]:
# Данные

# data = np.loadtxt('data/oil/train.csv', delimiter=',', skiprows=1)
data = pd.read_csv('data/oil/train.csv')

In [67]:
data.head()

,n,y,well id,depth. m,bk,GZ1,GZ2,GZ3,GZ4,GZ5,GZ7,DGK,NKTD,NKTM,NKTR,ALPS
0,1,0,12.0,3042.4630,0.455779,0.774000,0.774000,0.332846,0.476545,0.774000,0.244898,0.123651,0.774000,0.799167,0.174639,0.727789
1,1,0,33.0,2412.8305,0.000000,0.157153,0.755472,0.453216,0.715147,0.000000,0.523432,0.388729,0.519233,0.799167,0.563573,0.111216
2,1,0,33.0,2522.5575,0.000000,0.172235,0.941742,0.525711,0.668600,0.000000,0.588924,0.515214,0.527139,0.799167,0.551152,0.172359
3,1,0,49.0,2396.3625,0.381248,0.246838,0.116913,0.732654,0.151299,0.165219,0.656955,0.445917,0.575175,0.799167,0.429433,0.253563
4,1,0,49.0,2399.0475,0.356867,0.226241,0.155473,0.613300,0.173949,0.297194,0.773218,0.392743,0.575725,0.799167,0.447169,0.959633

In [68]:
data.describe()

,n,y,well id,depth. m,bk,GZ1,GZ2,GZ3,GZ4,GZ5,GZ7,DGK,NKTD,NKTM,NKTR,ALPS
count,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000
mean,0.824121,0.175879,145.613065,2432.668467,0.352328,0.317484,0.361987,0.492622,0.378468,0.262945,0.462396,0.312432,0.476437,0.791966,0.347100,0.418786
std,0.381678,0.381678,95.433493,224.211763,0.228244,0.214230,0.305750,0.257933,0.340917,0.235158,0.320806,0.205468,0.231688,0.004814,0.184918,0.230578
min,0.000000,0.000000,5.000000,2048.028500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.783272,0.000000,0.111216
25%,1.000000,0.000000,49.000000,2282.429000,0.244573,0.204043,0.129955,0.308034,0.112709,0.000000,0.131594,0.159716,0.464946,0.788547,0.244561,0.226144
50%,1.000000,0.000000,85.000000,2403.433000,0.375932,0.256569,0.188643,0.565416,0.234966,0.261669,0.547294,0.376159,0.545929,0.792649,0.421415,0.356887
75%,1.000000,0.000000,263.000000,2524.705500,0.463966,0.375435,0.643868,0.682135,0.696639,0.376032,0.754618,0.473996,0.594397,0.795583,0.462439,0.588436
max,1.000000,1.000000,274.000000,3042.463000,0.993867,0.775182,0.993254,0.959316,0.997912,0.774000,0.998125,0.942848,0.792987,0.799167,0.995343,0.999730

In [69]:
# # Нормализация

# from sklearn import preprocessing

# x = data.values
# min_max_scaler = preprocessing.MinMaxScaler()
# x_scaled = min_max_scaler.fit_transform(x)
# data = [data[0, :]] + pd.DataFrame(x_scaled)

In [70]:
# data = data.apply(lambda x: (x - np.mean(x)) / (np.max(x) - np.min(x)))

In [71]:
data[' depth.  m '] = (data[' depth.  m '] - data[' depth.  m '].min()) / (data[' depth.  m '].max() - data[' depth.  m '].min())

In [72]:
data.describe()

,n,y,well id,depth. m,bk,GZ1,GZ2,GZ3,GZ4,GZ5,GZ7,DGK,NKTD,NKTM,NKTR,ALPS
count,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000
mean,0.824121,0.175879,145.613065,0.386793,0.352328,0.317484,0.361987,0.492622,0.378468,0.262945,0.462396,0.312432,0.476437,0.791966,0.347100,0.418786
std,0.381678,0.381678,95.433493,0.225467,0.228244,0.214230,0.305750,0.257933,0.340917,0.235158,0.320806,0.205468,0.231688,0.004814,0.184918,0.230578
min,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.783272,0.000000,0.111216
25%,1.000000,0.000000,49.000000,0.235712,0.244573,0.204043,0.129955,0.308034,0.112709,0.000000,0.131594,0.159716,0.464946,0.788547,0.244561,0.226144
50%,1.000000,0.000000,85.000000,0.357394,0.375932,0.256569,0.188643,0.565416,0.234966,0.261669,0.547294,0.376159,0.545929,0.792649,0.421415,0.356887
75%,1.000000,0.000000,263.000000,0.479345,0.463966,0.375435,0.643868,0.682135,0.696639,0.376032,0.754618,0.473996,0.594397,0.795583,0.462439,0.588436
max,1.000000,1.000000,274.000000,1.000000,0.993867,0.775182,0.993254,0.959316,0.997912,0.774000,0.998125,0.942848,0.792987,0.799167,0.995343,0.999730

In [76]:
# Формирование скважин

# sc = dict()
# data.groupby(by=' well  id ').head()
data.groupby([' well  id ']).describe(percentiles=[])

AttributeError: 'DataFrameGroupBy' object has no attribute 'sortby'